[Desktop Entry]
Comment=Open file with VIM in Konsole
Exec=konsole --new-tab --nofork --workdir "$(dirname %F)" --profile Wookie -e $HOME/scripts/vimwithzshrc.zsh "%F"
GenericName=
Icon=application-vnd.openxmlformats-officedocument.wordprocessingml.document
Name=VIM
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
